.nav {
  &-open,
  &-closing {

  }

  &-open {

  }

  &-opening {

  }

  &-closing {

  }
}

nav {
  @apply fixed;
  @apply top-0 left-0;
  @apply grid grid-flow-row;
  @apply w-full;
  @apply pointer-events-none;
  @apply z-50;

  height: var(--height-navigation);
  grid-template-columns: repeat(24,1fr);

  a,
  img {
    @apply pointer-events-auto;
  }

  ul {
    @apply flex;
    @apply w-full;
    @apply items-center justify-end;
    @apply px-6;
    @apply z-50;

    @screen md {
      @apply px-8;
    }

    height: var(--height-navigation);

    grid-column-start: 1;
    grid-column-end: span 24;

    li {
      &.logo {
        @apply cursor-pointer;
        @apply mr-auto;
        @apply z-50;
      }

      &.navigation {
        @apply flex;
        @apply items-center;
        @apply ml-auto;

        transition: opacity 0.88s cubic-bezier(0.230, 1.000, 0.320, 1.000);
        will-change: opacity;

        @screen xs {
          .menu-dropdown,
          [target='_blank'] {
            @apply hidden;
          }
        }
      }
    }

    a {
      @apply relative;
      @apply cursor-pointer;
      @apply ml-4;

      color: var(--text);

      @screen md {
        @apply ml-6;
      }

      &:before {
        @apply relative;
        @apply mr-2;

        top: 2px;
      }
    }
  }

  &.scrolling-down {

  }

  .menu-dropdown {
    @apply relative;
    @apply inline-flex;

    &.open {
      .menu {
        @apply opacity-100;
        @apply pointer-events-auto;

        transform: translateY(0%);
      }
    }

    .menu {
      @apply fixed right-0;
      @apply opacity-0;
      @apply pointer-events-none;
      @apply z-50;

      top: var(--height-navigation);
      width: 600px;

      transform: translateY(calc(var(--height-navigation) / 2 * -1));

      transition: opacity 0.44s cubic-bezier(0.230, 1.000, 0.320, 1.000),
                  transform 1.11s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }
  }

  form {
    &.error,
    &.success {
      fieldset {
        @apply hidden;
      }
    }

    &.error {
      aside {
        background-color: #fa8d53;
      }
    }

    &.success {
      aside {
        background-color: #72b847;
      }
    }

    .mc-msg {
      @apply font-semibold;
      @apply mb-0;
    }
  }

  aside {
    @apply rounded;
    @apply mx-8;
    @apply px-6 py-6;

    background-color: var(--link-color);

    transition: background-color 1.22s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    will-change: background-color;

    p,
    h5,
    button {
      color: var(--white);
    }

    fieldset {
      @apply flex;
      @apply flex-row;
      @apply justify-between;
    }

    input {
      @apply w-full;
      @apply bg-transparent;
      @apply border-b border-solid;
      @apply font-normal;
      @apply outline-none;

      color: var(--white);
      border-color: var(--white);

      font-family: var(--font-mono);
      font-size: 16px;

      &::placeholder {
        @apply opacity-100;

        color: var(--white);
      }
    }

    button {
      border-color: var(--white);

      &:focus,
      &:hover {
        color: var(--white);
      }
    }
  }
}
