<nav role="navigation" aria-label="Top Navigation" data-template="common/navigation">
  <ul>
      <li class="logo"><img data-href="/" src="/images/common/logo.svg" /></li>
      <li class="navigation" data-name="navMenu">
        <a data-href="docs">Documentation</a>
        <a target="_blank" href="https://medium.com/setjs">Blog</a>
        <a data-href="">Newsletter</a>
        <a data-icon="v" href="https://github.com/stateempire">GitHub</a>
      </li>
      <li class="mobile" data-act="click" data-func="toggleNav"><button type="button"></button></li>
  </ul>
</nav>
