<nav role="navigation" aria-label="Top Navigation" data-template="common/navigation">
  <ul>
      <li class="logo"><img data-href="/" src="/images/common/logo.svg" /></li>
      <li class="navigation" data-name="navMenu">
        <a data-href="docs">Documentation</a>
        <a target="_blank" href="https://blog.setjs.com">Blog</a>
        <div class="menu-dropdown" data-template="config-menu">
          <a class="menu-dropdown-btn icon-btn">Newsletter</a>
          <div class="menu">
            <aside>
              <h5>Join our Newsletter</h5>
              <p>Keep up with what we're thinking, saying, and doing with SETjs. It may not be often, but it will be damn interesting.</p>
              <form>
                <input type="email" name="" value="" placeholder="Your email address ..." />
                <button type="submit">Subscribe</button>
              </form>
            </aside>
          </div>
        </div>

        <a data-icon="v" href="https://github.com/stateempire">GitHub</a>
      </li>
      <li class="mobile" data-act="click" data-func="toggleNav"><button type="button"></button></li>
  </ul>
</nav>
