<main data-template="site/docs" data-id="docs">
  <section>
    <div data-slot='{"t": "common/navigation-docs", "replace": "true"}'></div>
    <div class="content">
      <h2>Installation</h2>
      <h3>Release Notes</h3>
      <p>Detailed release notes for each version are <a target="_blank" href="https://github.com/stateempire">available on GitHub</a>.</p>
      <h3>Trying out SETJS</h3>
      <p>Clone <a target="_blank" href="https://github.com/stateempire/setjs-boilerplate">stateempire/setjs-boilerplate</a></p>
      <pre><code class="code-block bash">cd static
npm i
npm start</code></pre>
      <h3>Quickstart projects</h3>
      <p>Here's some of our handy project ready builds to get started quickly, ones that we're either using in the field ourselves or the community at large has pulled together.</p>
      <p>Something missing? <a data-href="docs/questions">Let us know</a>.</p>
      <div class="list">
        <div class="item"><img data-src="/images/logos/tailwindcss.svg" alt="Tailwind" />
          <h5>Tailwind</h5>
          <p>Simple CSS heavy, less inline HTML classes, Tailwind build and setup.</p>
          <a class="button solid arrow" target="_blank" href="https://github.com/stateempire/setjs-postcss-starter">Get it</a>
        </div>
        <div class="item"><img data-src="/images/logos/bootstrap.svg" alt="Bootstrap" />
          <h5>Bootstrap</h5>
          <p>Using Bootstrap 4 and our internal bootstrapped build.</p>
          <a class="button solid arrow" target="_blank" href="https://github.com/stateempire/setjs-bootstrap-starter">Get it</a>
        </div>
        <div class="item"><img data-src="/images/logos/prismic.svg" alt="Prismic" />
          <h5>Prismic</h5>
          <p>Our internal Prismic (Headless CMS) with Tailwind build and setup.</p>
          <a class="button solid arrow" target="_blank" href="https://github.com/stateempire/setjs-prismic-starter">Get it</a>
        </div>
        <div class="item"><img data-src="/images/logos/prismic.svg" alt="Prismic" />
          <h5>Real World Demo</h5>
          <p>...</p>
          <a class="button solid arrow" target="_blank" href="https://github.com/stateempire/setjs-realworld-demo">Get it</a>
        </div>
      </div>
      <div class="next"><a data-href="docs/getting-started">Getting Started</a></div>
    </div>
  </section>
</main>
