footer(data-template='common/footer')
  .flex.flex-wrap.py-8
    p #[a.underline(target='_blank' href='https://github.com/stateempire/setjs') SETJS] released under the #[a.underline(target='_blank' href='https://github.com/stateempire/setjs/blob/master/LICENSE') MIT License] - Copyright &copy; 2017-2020
