main(data-template='site/about', data-id='static')
  //- Intro
  section.intro.mb-16
    .container.flex.flex-wrap
      .w-full.md_w-10o12.m-auto
        h1.mb-16 About Us

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra, nunc ac vestibulum ultrices, tortor est viverra mauris, vitae condimentum dui erat nec arcu. Phasellus tempus efficitur dui, id mollis nulla. Mauris magna lectus, lobortis nec venenatis eget, aliquet in ante. Suspendisse interdum urna quis tellus pretium porttitor. Vivamus dignissim ultrices vehicula. Ut faucibus vulputate scelerisque. Etiam dignissim orci at felis efficitur, et lacinia diam scelerisque.
        p Morbi accumsan dignissim urna, sed pulvinar odio rutrum iaculis. Mauris dapibus urna non malesuada rhoncus. In at nisl diam. Integer finibus, arcu hendrerit scelerisque convallis, dui tortor aliquam tellus, et pellentesque mi ipsum et ex. Nunc id felis nec quam venenatis laoreet. Aenean molestie risus quis quam ultrices pellentesque. Integer eget sollicitudin leo, sed sollicitudin lectus. Nullam placerat finibus rhoncus. Curabitur maximus ante eget tortor ornare cursus. Sed vitae erat arcu. Proin eu bibendum nibh, eget efficitur mauris. Nam porttitor erat at lacus feugiat finibus. Quisque placerat ligula eros, at iaculis felis faucibus sed. Vestibulum eu efficitur dui.
        p Praesent dapibus augue ornare viverra venenatis. Morbi dictum eros et odio placerat, vel tristique libero dignissim. Sed dictum dapibus velit in maximus. Aenean posuere turpis arcu, ut mollis enim volutpat ac. Sed congue quam magna, ut vehicula urna pharetra in. Quisque consequat est magna. Fusce fermentum lacus magna, a posuere lectus condimentum aliquet. In lectus enim, tempus in felis vel, hendrerit condimentum nisl. Cras quis ipsum ipsum. Curabitur consectetur nisi a massa feugiat, at lacinia dui posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras feugiat, erat sed faucibus rutrum, arcu velit mollis felis, id egestas felis nibh vestibulum arcu. Phasellus viverra lobortis commodo.
