/* Accordion */
.accordion {
  .accordion-item {
    @apply relative;

    border-bottom: 1px solid $accordion-color;

    .title {
      @apply relative;
      @apply m-0 cursor-pointer;
      @apply pr-5 py-3;

      color: $accordion-color;

      @screen md {
        @apply pr-10 py-5;
      }

      &:after {
        @apply vertical-center right-0;

        content: '\61';
        font-family: 'set';
        font-size: 13px;

        transform: translateY(-50%);
        transform-origin: center;
        transition: all 0.33s cubic-bezier(.2,1,.2,1);
      }
    }

    .copy {
      @apply opacity-0;
      @apply overflow-hidden;

      max-height: 0;
      transition: all 1.22s cubic-bezier(.2,1,.2,1),
                  opacity 0.33s ease-in-out;
    }

    &.open {
      .title {
        color: $accordion-color;

        &:after {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      .copy {
        @apply opacity-100;
        /* @apply my-8; */

        max-height: 5400px;
      }
    }
  }
}
