/* Lazy Loading - Transitions */
.scale-in {
  transform: scale3d(0.9, 0.9, 1) !important;
  transform-style: preserve-3d;

  transition: all 0.33s cubic-bezier(.42,.05,.7, .54);

  &.js-loaded {
    transform: scale3d(1, 1, 1) !important;

    img {
      transform: scale3d(1, 1, 1) !important;
    }
  }

  img {
    transform: scale3d(1.2, 1.2, 1) !important;
    transform-style: preserve-3d;

    transition: all 0.33s cubic-bezier(.42,.05,.7, .54);
  }
}

/* Lazy Loading - Images */
.lazy-load {
  @apply block max-w-full;
  /* @apply h-full; */
  @apply overflow-hidden;

  img {
    @apply w-full;
    /* @apply h-full; */

    transform: scale(1);
    transition: transform 300ms ease 0ms,
                opacity 300ms ease 0ms,
                filter 300ms ease 0ms;

    &:not(.js-loaded) {
      @apply w-full;

      transform: scale(1.033);
      opacity: $loading-image-opacity;

      filter: $loading-image-filter;
      image-rendering: $loading-image-rendering;
    }
  }

  .js-loaded {
    @apply opacity-100;
  }
}

figure {
  &.lazy-img-container {
    @apply relative inline-block w-full overflow-hidden;

    .lazy-load:not(.js-loaded) {
      filter: $loading-image-filter;
      image-rendering: $loading-image-rendering;
    }

    img {
      @apply w-full;
    }
  }

  &.lazy-bg-container {
    @apply bg-no-repeat bg-cover bg-center;

    /* @TODO Variables */
    @apply bg-gray-100;
  }
}
