/* Avatar */
.avatar {
  @apply relative rounded-full text-center;
  @apply overflow-hidden;
  @apply p-0 !important;

  height: $avatar-size;
  width: $avatar-size;

  color: $avatar-color;
  background-color: $avatar-background;

  &.small {
    height: $avatar-size-small;
    width: $avatar-size-small;

    .initials {
      font-size: calc($avatar-font-size / 1.5);
    }
  }

  .initials {
    @apply inline-block absolute-center;
    @apply text-center leading-none tracking-tighter;

    font-size: $avatar-font-size;
  }
}
