/* Blog */
.tag {
  @apply inline-block;

  color: $blog-tag-color;
  background-color: $blog-tag-background;
  border: $blog-tag-border;

  padding: $blog-tag-padding;
  margin: $blog-tag-margin;

  font-weight: $blog-tag-font-weight;

  &:before {
    content: $blog-tag-pre;
    margin-right: 2px;
  }
}

/* Comments */
[data-name='selectionTools'] {
  @apply relative;

  padding: 12px 20px;

  background-color: $tooltip-background;
  color: $tooltip-color;

  border-radius: 3px;

  font-size: 14px;
  font-weight: 200;
  text-align: center;

  &:before {
    @apply absolute .inline-block;
    @apply bg-transparent;

    content: '';
    transform: translate(-50%, 0);

    top: 100%;
    left: 50%;

    margin-bottom: -10px;
    z-index: 1001;
    border: 5px solid transparent;
    border-top-color: $tooltip-background;
  }
}

/* Froala Popup Overrides */
.fr-popup {
  border-top: 2px solid $blog-editor-color !important;

  .fr-arrow {
    top: -7px !important;
    border-bottom-color: $blog-editor-color !important;
  }

  .fr-buttons {
    box-shadow: none !important;
    border-bottom: 1px solid rgba($blog-editor-background, 0.22) !important;
  }

  .fr-input-line {
    input[type=text], textarea {
      &:focus {
        box-shadow: none !important;
        border-bottom: 2px solid $blog-editor-color !important;
      }

      &.error {
        border-bottom: 2px solid $blog-editor-error !important;
      }
    }
  }

  label {
    @apply inline-block;
  }
}

/* Froala Content Overrides */
#blog-content, #main-content {
  $img-offset: 60px;

  &.fr-view, .fr-view {
    .fr-img-caption {
      @apply mt-5 mb-10;

      &.fr-dib {
        img {
          @apply -mx-6;

          width: calc(100% + 3rem);
          max-width: initial;

          @screen md {
            margin: 0 -$img-offset;

            width: calc(100% + ($img-offset * 2));
          }

          @screen lg {
            margin: 0 -$img-offset;

            width: calc(100% + ($img-offset * 2));
            max-width: initial;
          }
        }
      }

      &.fr-dii {
        /* Left Align */
        &.fr-fil {
          @apply float-none;

          @screen xg {
            @apply w-full !important;
          }

          @screen lg {
            @apply mr-10 float-left;
            margin-left: -120px;
          }
        }

        /* Right Align */
        &.fr-fir {
          @apply float-none;

          @screen xg {
            @apply w-full !important;
          }

          @screen lg {
            @apply ml-10 float-right;
            margin-right: -120px;
          }
        }
      }

      .fr-inner {
        @apply pt-5 pb-0;

        font-family: $font-sans;
        font-weight: 100;
        color: rgba($black, 0.33);
      }
    }

    a {
      @apply underline font-normal;

      color: $blog-editor-color;
    }

    hr {
      width: $blog-separator-width;

      border-bottom: 1px solid $blog-separator-color;

      margin: auto;
      margin-top: $blog-separator-margin;
      margin-bottom: $blog-separator-margin;
    }

    ol, ul {
      @apply list-disc ml-10 mb-8;

      font-size: inherit;

      li {
        @apply pl-3;
      }
    }

    ol {
      @apply list-decimal;
    }

    img {
      &.fr-fil, &.fr-fir {
        @apply relative;

        margin: 25px auto;
      }

      &.fr-fil {
        margin-right: 20px;

        @screen md {
          left: -40px;
        }
      }

      &.fr-fir {
        margin-left: 20px;

        @screen md {
          right: -40px;
        }
      }
    }

    blockquote {
      @apply mb-10 p-0 border-0 !important;

      @screen sm {
        @apply -mx-10;
      }
    }
  }
}

.fr-box {
  &.fr-basic, &.fr-inline {
    .fr-wrapper {
      ::selection {
        background: $blog-editor-highlight;
        color: $black;
      }

      .fr-placeholder {
        color: $input-placeholder-color;
        font-size: 18px;
        padding-top: 16px !important;
      }

      .fr-element {
        padding: 16px 0;
      }
    }

    &.fr-top {
      .fr-wrapper {
        @apply shadow-none !important;
      }
    }
  }

  .fr-toolbar {
    @apply m-0;

    &.fr-top {
      @apply shadow-none !important;

      border-top: 1px solid rgba($blog-editor-background, 0.22);
      border-bottom: 1px solid rgba($blog-editor-background, 0.22);
    }

    .fr-command {
      &:hover, &:focus {
        color: $blog-editor-background;
        background: rgba($blog-editor-color, 0.22);
      }

      &.fr-btn {
        @apply m-0;

        width: 45px;
        height: 50px;

        i {
          margin: 18px 15.5px;
        }

        &.fr-active {
          color: $blog-editor-color;

          &:hover, &:focus {
            color: $blog-editor-background;
            background: rgba($blog-editor-color, 0.44);
          }
        }

        &.fr-selected {
          background: rgba($blog-editor-color, 0.44);
        }
      }
    }

    .fr-separator.fr-vs {
      height: 46px;
    }
  }

  .fr-quick-insert, .fr-qi-helper {
    .fr-floating-btn {
      @apply p-0 !important;

      color: $blog-editor-background;
      background: $blog-editor-color;
      box-shadow: $shadow-light;

      svg, path {
        @apply inline-block p-0 m-0 !important;
        transform: scale(0.75);
        transform-origin: center;
      }

      &:hover {
        background: $blog-editor-color;

        svg, path {
          fill: $blog-editor-background !important;
        }
      }
    }
  }

  .fr-quick-insert {
    .fr-floating-btn {
      svg, path {
        fill: $blog-editor-background !important;
      }
    }
  }
}
