code, codeblock {
  @apply p-1 py-px rounded;
  @apply leading-relaxed whitespace-pre;

  color: $code-color;
  background-color: $code-background;

  font-family: $font-mono;
  border: $code-border;

  font-size: 85%;
}

codeblock {
  @apply block p-6;
  @apply overflow-scroll;

  span {
    @apply block;
    min-height: 20px;

    &.comment {
      color: rgba($code-color, 0.33);
    }
  }
}
