html,
body,
html a,
html video {
  cursor: none !important;
}

#site-cursor {
  @apply fixed top-0 left-0;

  z-index: 100;
  pointer-events: none !important;

  .point, .circ {
    @apply absolute rounded-full;

    background: $black;
  }

  .point {
    width: 12px;
    height: 12px;

    margin-left:-2px;
    margin-top:-2px;

    z-index: 101;
  }

  .circ {
    @apply hidden;

    background: rgba($white, 1);

    width: 40px;
    height: 40px;

    border: 1px solid $black;

    margin-left: -20px;
    margin-top: -20px;

    opacity: 0.22;
    z-index: 99;

    transition: all 0.11s cubic-bezier(0.390, 0.575, 0.565, 1.000);
  }

  /* Expand - Links */
  &.expand {
    .point {
      background: $blue;
    }

    .circ {
      transform: scale(1.4);

      border-color: $blue;
      background: $blue;
    }
  }

  /* Mix Blend */
  &.blend {
    mix-blend-mode: overlay;  /* exclusion; */
  }
}
