/* Hamburger */
.nav-open {
  nav {
    path, rect {
      color: $menu-burger-open-color !important;
      fill: $menu-burger-open-color !important;
    }

    .hamburger {
      filter: invert(0) !important;

      .hamburger-inner {
        &,
        &::before,
        &::after {
          background-color: $menu-burger-open-color;
        }
      }
    }
  }
}

.hamburger {
  @apply absolute inline-block cursor-pointer;
  @apply bg-transparent border-none m-0 overflow-visible;
  @apply outline-none !important;

  top: 50%;
  right: 5px;

  transform: translateY(-50%);

  z-index: 9999;

  padding: $menu-burger-padding-y $menu-burger-padding-x;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  &:hover {
    opacity: $menu-burger-hover-opacity;
  }

  .hamburger-box {
    @apply relative inline-block;

    width: $menu-burger-width;
    height: calc($menu-burger-height * 3 + $menu-burger-spacing * 2);
  }

  .hamburger-inner {
    @apply block;

    top: 50%;
    margin-top: calc($menu-burger-height / -2);

    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &,
    &::before,
    &::after {
      @apply absolute;

      width: $menu-burger-width;
      height: $menu-burger-height;
      background-color: $menu-burger-color;
      border-radius: $menu-burger-radius;

      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }

    &::before,
    &::after {
      @apply block;
      content: '';
    }

    &::before {
      top: calc(($menu-burger-spacing + $menu-burger-height) * -1);
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }

    &::after {
      bottom: calc(($menu-burger-spacing + $menu-burger-height) * -1);
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.active {
    .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}
