/* Progress Bar */
.progress-bar {
  @apply fixed top-0 w-full;

  height: 5px;
  background: $loading-progress-color;

  transition: width 0.2s linear;
}

/* Loading Blank */
.blank {
  @apply fixed inset-0;

  z-index: $loading-blank-index;

  &.initial {
    z-index: $loading-blank-index - 1;

    .upper {
      background: $loading-blank-foreground;
    }
  }

  .upper, .lower {
    @apply relative w-screen h-screen;
  }

  .upper {
    background: $loading-blank-foreground;
  }

  .lower {
    @apply opacity-100;

    background: $loading-blank-background;
    transition: inherit;
  }

  &.fadeout {
    .lower {
      @apply opacity-0;
    }
  }

  .inner {
    @apply opacity-0;
    transition: opacity 0.5s ease;
  }

  &.animate {
    .inner {
      @apply opacity-100;
    }
  }
}

/* Loading Transition */
.fadeout-transition {
  @apply fixed inset-0;

  background: $loading-blank-foreground;
  z-index: $loading-blank-index;

  &.initial {
    z-index: calc($loading-blank-index + 10);
  }

  &.animate {
    img {
      @apply absolute-center;

      height: 100px;
    }
  }
}

/* Nav overlay during Loading */
.nav-overlay {
  z-index: 999 !important;
}

/* Load More */
.load-more {
  h4 {

  }

  .message {
    @apply hidden;
  }

  .button {
    &.disabled {
      @apply hidden;
    }
  }
}

/* Loading Spinner */
form {
  &.loading {
    &:after {
      @apply hidden;
    }

    button {
      @apply relative loading pointer-events-none select-none;

      color: rgba(0, 0, 0, 0) !important;

      span {
        @apply opacity-0;
      }
    }
  }
}

button {
  &.loading {
    @apply relative pointer-events-none select-none;

    color: $loading-spinner-background !important;
    background-color: $loading-spinner-background !important;
  }
}
