/* Dropdown Menu */
.menu-dropdown {
  @apply relative;

  @screen $navigation-mobile-breakpoint {
    @apply flex flex-col items-end border-none;
  }

  @screen md {
    @apply inline-flex;
  }

  &.open {
    .menu-dropdown-list {
      @apply .block;
    }
  }

  .avatar {
    @screen $navigation-mobile-breakpoint {
      @apply hidden;
    }
  }

  .menu-dropdown-btn {
    @screen $navigation-mobile-breakpoint {
      @apply block;
      @apply text-xs pt-4 pb-2 mt-3;

      color: rgba($navigation-mobile-color, 0.33) !important;

      &:before {
        @apply hidden;
      }
    }

    &.avatar-padding {
      padding-left: 20px;

      .avatar {
        @apply .absolute .left-0 .top-0;
      }
    }

    @screen md {
      &.set-arrow-down {
        padding-right: 30px;

        &:before {
          @apply .vertical-center;
          right: 12px;
        }
      }
    }
  }

  .menu-dropdown-list {
    @screen $navigation-mobile-breakpoint {
      @apply flex flex-col items-end;
      @apply pb-3;

      border-bottom: 1px solid rgba($light-grey, 0.55);
    }

    @screen md {
      @apply absolute hidden;
      @apply horizontal-center py-2;

      top: 130%;
      width: $menu-dropdown-width;

      background-color: $menu-dropdown-background;
      font-size: $menu-dropdown-font-size;
      text-transform: $menu-dropdown-case;

      box-shadow: $menu-dropdown-shadow;
      border-radius: $menu-dropdown-border-radius;

      z-index: 90;

      &:before {
        @apply .absolute .top-0;
        @apply .horizontal-center;

        content: '';

        width: 12px;
        height: 12px;

        transform: rotate(45deg) translateX(-50%);
        border-radius: 3px 0 20px 0;
        background-color: $menu-dropdown-background;
      }
    }

    &.right {
      @screen md {
        @apply .absolute .right-0 .left-auto;
        transform: none;

        &:before {
          @apply .left-auto;
          right: 8%;
        }
      }
    }

    &.top {
      @screen md {
        top: auto;
        bottom: 130%;

        &:before {
          top: auto;
          bottom: -10px;

          border-radius: initial;

        }
      }
    }

    a, div {
      @apply inline-block py-2 px-4;
      @apply text-black;

      @screen $navigation-mobile-breakpoint {
        @apply text-xs py-1;
      }

      @screen md {
        @apply block;
      }

      &:after {
        @apply hidden !important;
      }
    }

    div {
      @apply px-4;

      @screen $navigation-mobile-breakpoint {
        @apply hidden;
      }
    }
  }
}
