/* Messaging */
.message {
  @apply relative;
  @apply px-12 py-3;
  @apply text-left pointer-events-none;

  background-color: $white;
  border-radius: $input-radius;
  /* font-weight: 300; */

  &.fixed {
    @apply fixed;

    top: 32px;
    right: 25px;

    box-shadow: $shadow-heavy;
    z-index: 99999;

    animation: fade-out-bottom 0.44s 4.4s 1 forwards;
  }

  &:before {
    @apply vertical-center;

    left: 22px;
    font-family: 'set';
  }

  &.active {
    color: $success;
    border-color: $success;
  }

  &.success {
    color: $success;
    border-color: $success;
  }

  &.error {
    color: $error;
    border-color: $error;
  }

  /* Card - Issue with loading */
  &.card {
    @apply inline-block p-4;

    color: $medium-grey;
    background-color: $light-grey;
  }

  &.form {
    @apply hidden mb-6;
    @apply pl-16;
    /* @apply text-center; */

    ul {
      @apply m-0 p-0 text-black;
    }
  }
}
