/* Tooltip */
[data-tooltip],
[data-tooltip-sticky] {
  @apply relative;

  border-bottom: $tooltip-anchor-border;
  border-color: inherit;

  cursor: help;
}

[data-tooltip]:before,
[data-tooltip]:after,
[data-tooltip-overlay],
[data-tooltip-overlay]:before {
  @apply absolute invisible opacity-0 pointer-events-none;

  transform: translate3d(0, 0, 0);
  transition: opacity 0.15s ease-in-out,
              visibility 0.15s ease-in-out,
              transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
[data-tooltip-sticky].open [data-tooltip-overlay],
[data-tooltip-sticky].open [data-tooltip-overlay]:before {
  @apply inline-block visible opacity-100;
}

[data-tooltip-sticky].open [data-tooltip-overlay] {
  @apply pointer-events-auto;
}

[data-tooltip]:before,
[data-tooltip-overlay]:before {
  @apply bg-transparent;

  z-index: 1001;
  border: 5px solid transparent;
  content: '';
  transform: translate(-50%, 0);
}

[data-tooltip]:after,
[data-tooltip-overlay] {
  z-index: 1000;
  padding: 12px 20px;
  min-width: 280px;
  max-width: 320px;

  background-color: $tooltip-background;
  color: $tooltip-color;

  content: attr(data-tooltip);

  border-radius: 3px;

  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

[data-tooltip]:before,
[data-tooltip]:after,
[data-tooltip-overlay],
[data-tooltip-overlay]:before {
  bottom: 80%;
  left: 50%;
}

[data-tooltip-overlay]:before {
  top: 100%;
}

[data-tooltip]:before,
[data-tooltip-overlay]:before {
  margin-bottom: -10px;
  border-top-color: $tooltip-background;
}

[data-tooltip]:after,
[data-tooltip-overlay] {
  transform: translate(-50%, 0);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
[data-tooltip-sticky].open [data-tooltip-overlay] {
  transform: translate(-50%, -2px);
}
