@import 'tailwindcss/base';

@import 'fonts/import';
@import 'fonts/menlo';
@import 'fonts/set';

@import 'tailwindcss/components';

/* Vendor */
@import 'vendor/highlight';

/* Layout */
@import 'layout/base';
@import 'layout/typography';
@import 'layout/navigation';
@import 'layout/footer';
@import 'layout/common';

/* Pages */
/* purgecss start ignore */
@import 'page/error';
@import 'page/home';
@import 'page/docs';
/* purgecss end ignore */

/* Utilities */
@import 'tailwindcss/utilities';
@import 'utilities/common';
@import 'utilities/animation';
