/***
 ***
 *** setjs - inline-fonts v2.0.4
 ***
 ***/
@charset 'UTF-8';

@font-face {
  font-family: 'set';
  src: url('../fonts/set/set.woff') format('woff'),
       url('../fonts/set/set.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'set' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='set-']:before,
[class*=' set-']:before {
  font-family: 'set' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
