/* Colours */
$black: #111;
$white: #fff;
$light-grey: #eee;
$medium-grey: #999;
$dark-grey: #222;

$purple: #9849ea;
$yellow: #f49a28;
$pink: #e7224c;
$blue: #0148e0;

$error: #e6242d;
$success: #18824d;
$notice: #ff9400;
$highlight: rgba($purple, 0.20);

$font-sans: Poppins, Helvetica, Arial, sans-serif;
$font-serif: Lora, serif;
$font-body: $font-sans;
$font-navigation: $font-sans;
$font-heading: $font-sans;
$font-quote: $font-sans;
$font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-anchor: $font-body;
$font-extended: $font-body;

$body-font-size: 1.125rem;
$body-font-color: $dark-grey;
$body-font-weight: 100;
$body-line-height: 1.7;

/* Misc */
$shadow-light: 0 1px 5px 0 rgba($black, 0.05), 0 10px 20px 0 rgba($black, 0.08);
$shadow-medium: 0 1px 10px 0 rgba($black, 0.066), 0 5px 20px 0 rgba($black, 0.2);
$shadow-heavy: 0 50px 100px rgba($black, 0.1), 0 15px 35px rgba($black, 0.15), 0 5px 15px rgba($black, 0.1);
$selection-highlight-color: $pink;
$selection-highlight-background: rgba($pink, 0.075);

/* Headings */
$h1-min: 30;
$h1-max: 62;
$h1-weight: 400;
$h1-tracking: initial;

$h2-min: 26;
$h2-max: 50;
$h2-weight: 400;
$h2-tracking: initial;

$h3-min: 24;
$h3-max: 40;
$h3-weight: 400;
$h3-tracking: initial;

$h4-min: 18;
$h4-max: 24;
$h4-weight: 100;
$h4-tracking: initial;

$h5-min: 20;
$h5-max: 26;
$h5-weight: 100;
$h5-tracking: initial;

$h6-min: 12;
$h6-max: 14;
$h6-weight: 100;
$h6-tracking: 1px;

/* Header / Navigation */
$navigation-position: fixed;
$navigation-height: 120px;
$navigation-color: $dark-grey;
$navigation-color-hover: $dark-grey;
$navigation-background: transparent;
$navigation-background-scroll: transparent;
$navigation-border-hover: rgba($white, 0.33);
$navigation-shadow: none;
$navigation-margin: 0;
$navigation-padding: 12px;
$navigation-font-size: 16px;
$navigation-font-weight: 400;
$navigation-font-case: inherit;
$navigation-mobile-color: $dark-grey;
$navigation-mobile-background: $light-grey;
$navigation-mobile-breakpoint: xm;

/* Hamburger */
$menu-burger-color: $dark-grey;
$menu-burger-open-color: $dark-grey;
$menu-burger-height: 2px;
$menu-burger-width: 22px;
$menu-burger-radius: 22px;
$menu-burger-spacing: 5px;
$menu-burger-hover-opacity: 1;
$menu-burger-padding-x: 15px;
$menu-burger-padding-y: 15px;

/* Loading */
$loading-progress-color: linear-gradient(90deg, rgba($yellow, 1) 0%, rgba($pink, 1) 100%);
$loading-blank-foreground: $light-grey;
$loading-blank-background: $medium-grey;
$loading-blank-index: 99;

$loading-spinner-offset: 187;
$loading-spinner-duration: 0.9s;
$loading-spinner-size: 28px;
$loading-spinner-stroke: 3px;
$loading-spinner-background: rgba($white, 0.33);
$loading-spinner-colour: $white;

$loading-image-opacity: 0.70;
$loading-image-filter: grayscale(100%); /* blur(15px) */
$loading-image-rendering: pixelated; /* auto, crisp-edges, pixelated */

/* Lightbox */
$lightbox-background-overlay: rgba($white, 1);
$lightbox-background-inner: $white;
$lightbox-shadow: none;
$lightbox-width-max: none;
$lightbox-width-inner: 100%;
$lightbox-navigation-color: $dark-grey;
$lightbox-index: 1004;

/* Carousel */
$carousel-navigation-width: 62px;
$carousel-navigation-mobile-width: 30px;

/* Logo */
$logo-width: 110px;

/* Accordion */
$accordion-color: $black;
$accordion-background: transparent;

/* Menu - Dropdown */
$menu-dropdown-width: 220px;
$menu-dropdown-case: none;
$menu-dropdown-font-size: initial;
$menu-dropdown-background: $white;
$menu-dropdown-shadow: $shadow-medium;
$menu-dropdown-border-radius: 4px;

/* Tooltip */
$tooltip-color: $white;
$tooltip-background: $black;
$tooltip-anchor-border: 1px dashed rgba($black, 0.50);

/* Avatar */
$avatar-size: 42px;
$avatar-size-small: 30px;
$avatar-color: $white;
$avatar-background: $yellow;
$avatar-font-size: 80%;

/* Blog */
$blog-tag-pre: '#';
$blog-tag-color: $black;
$blog-tag-background: transparent;
$blog-tag-border: $blog-tag-background;
$blog-tag-radius: 2px;
$blog-tag-padding: 2px 0 0 0;
$blog-tag-margin: 4px 14px 4px 0;
$blog-tag-font-weight: 600;
$blog-editor-color: $black;
$blog-editor-background: $white;
$blog-editor-highlight: $highlight;
$blog-editor-error: $error;
$blog-editor-title-size: 40px;
$blog-separator-width: 60%;
$blog-separator-color: $medium-grey;
$blog-separator-margin: 60px;

/* Card */
$card-padding: 0;
$card-margin: 0 0 40px;
$card-font-color: $dark-grey;
$card-heading-weight: 600;
$card-meta-display: block;
$card-meta-color: rgba($black, 0.33);
$card-border: 1px solid $light-grey;
$card-border-radius: 4px;
$card-shadow: $shadow-light;
$card-border-hover: $card-border;
$card-shadow-hover: $shadow-medium;
$card-image-width: 170px;
$card-image-height: 110px;
$card-image-padding: 20px;
$card-category-font-color: $purple;
$card-category-font-case: uppercase;
$card-category-font-size: 12px;
$card-category-font-weight: 400;

/* Form */
$input-color: $dark-grey;
$input-background: $white;
$input-background-focus: $input-background;
$input-font-weight: 400;
$input-radius: 3px;
$input-height: 60px;
$input-padding: 14px 14px;
$input-border-color: rgba($medium-grey, 0.40);
$input-border-focus-color: $blue;
$input-border-selection-color: $highlight;
$input-placeholder-color: rgba($medium-grey, 0.40);
$input-placeholder-font-weight: 400;
$input-border: 1px solid $input-border-color;
$input-border-focus: 1px solid $input-border-focus-color;
$input-label-color: rgba($dark-grey, 0.5);
$input-label-color-focus: $input-border-focus-color;
$input-shadow: none;
$input-shadow-focus: $input-shadow;

/* Anchor */
$anchor-font-weight: inherit;
$anchor-text-decoration: none;
$anchor-color-hover: $medium-grey;
$anchor-color-light: $white;
$anchor-color-dark: $dark-grey;
$anchor-color-dark-hover: $pink;
$anchor-underline-thickness: 1px;
$anchor-underline-thickness-hover: 5px;

/* Buttons */
$button-font-size: 80%;
$button-font-weight: 600;
$button-case: uppercase;
$button-padding: 18px 35px;
$button-padding-small: 7px 15px;
$button-radius: 2px;
$button-border-width: 1px;
$button-color-light: $black;
$button-background-light: $light-grey;
$button-color-dark: $white;
$button-background-dark: $blue;

/* Checks */
$check-size: 24px;
$check-colour: $input-border-color;
$check-dark: $input-border-color;
$check-highlight: $dark-grey;
$check-font-colour: $body-font-color;
$check-border-checked: 1px solid $dark-grey;
$check-foreground-checked: $white;
$check-background-checked: $dark-grey;
$check-tick-display: 0;
$check-tick-colour: $dark-grey;
$check-border: 1px solid $check-colour;

/* Code Block */
$code-color: $blue;
$code-background: rgba($dark-grey, 0.05);
$code-border: none;
